<ion-view view-title="Other">
  <ion-content class="padding">
    <h2>Welcome to Derp</h2>
   <style>


   </style>
    <p>
      DERP DERP DERP DERP DERP
      <script src='//redditjs.com/post.js' ></script>
      </p>
    <p>

  <form>
  Chat:<br>
  <input type ="text" name="chat"><br>
  </form>

      google ! <a href="http://www.google.com" target="_blank"> Google</a>
      </p>

      <ion-toggle ng-model="derpEnabler.checked"
                    ng-change="derpEnablerChange()">
          Enable Derps
      </ion-toggle>

      <ion-toggle ng-model="bullshitEnabler.checked"
                    ng-change="bullshitEnablerChange()">
          Enable Jargon
      </ion-toggle>
  </ion-content>
</ion-view>
