<ion-view view-title="Reddit">
  <ion-content class="padding">
    <h2>Reddit </h2>
   <style>
   <body bgcolor="#E6E6FA">
   

   
  </style>
  
    <p>
      <div class="item range">
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>

</div>

      <ion-content ng-controller="RedditCtrl">
    
   
    <button class="button" ng-click="play('/android_asset/www/sound/DerpSoundEffect.mp3')">Click to Derp</button>
      </ion-content>
      </p>
    



      </body>
  </ion-content>
</ion-view>
