<ion-view view-title="Other">
<ion-nav-bar class="bar-dark">
</ion-nav-bar>
  <ion-content class="padding">
    <h2>Welcome to Derp</h2>
   <style>
   <body bgcolor="#E6E6FA">
   

   </style>
    <p>
      DERP DERP DERP DERP DERP
      <script src='//redditjs.com/post.js' ></script>
      </p>
    <p> 

  <form>
  Chat:<br>
  <input type ="text" name="chat"><br>
  </form>

      google ! <a href="http://www.google.com" target="_blank"> Google</a>
      </p>
      <ion-toggle  ng-model="settings.enableDerps">
        Enable Derps
    </ion-toggle>
      </body>
  </ion-content>
</ion-view>
